@tailwind base;
@tailwind components;
@tailwind utilities;

/* =============================================================================== */
/* Input */
/* =============================================================================== */
.ant-input,
.ant-input-affix-wrapper {
	padding: 12px 11px;
}
.ant-input-outlined {
	border: none;
}

.ant-input-suffix {
	font-size: 20px;
}

.ant-input,
.ant-input-outlined,
.ant-input-outlined:focus,
.ant-input-outlined:hover,
.ant-input-outlined:focus-within,
.ant-input-outlined.ant-input-disabled,
.ant-input-outlined[disabled],
.ant-input-outlined:hover,
.ant-input-outlined:focus-within {
	border: none;
	outline: none;
	box-shadow: none;
}

/* =============================================================================== */
/* Select */
/* =============================================================================== */

.ant-select-outlined:not(.ant-select-customize-input)
	.ant-select-selector {
	color: #666666;
	background-color: white;
	border: none;
}

.ant-select-outlined:not(.ant-select-disabled):not(
		.ant-select-customize-input
	):not(.ant-pagination-size-changer):hover
	.ant-select-selector,
.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(
		.ant-select-customize-input
	):not(.ant-pagination-size-changer)
	.ant-select-selector {
	border-color: #f26d21;
}

.ant-select-dropdown
	.ant-select-item-option-active:not(
		.ant-select-item-option-disabled
	),
.ant-select-dropdown .ant-select-item {
	padding: 11px 12px;
}

.ant-select-dropdown
	.ant-select-item-option-active:not(
		.ant-select-item-option-disabled
	)::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 4px solid #f26d21;
	background-color: white;
}

.ant-select-dropdown
	.ant-select-item-option-active:not(
		.ant-select-item-option-disabled
	),
.ant-select-dropdown
	.ant-select-item-option-active:not(.ant-select-item-option-disabled)
	.ant-select-item-option-content,
.ant-select-dropdown
	.ant-select-item-option-active:not(.ant-select-item-option-disabled)
	.ant-select-item-option-content {
	background-color: white;
}

/* =============================================================================== */
/* Select arrow */
/* =============================================================================== */

.ant-select .ant-select-arrow {
	color: #f26d21;
	padding-right: 5px;
}

.ant-select-single {
	height: 48px;
}
.ant-select.border-white .ant-select-arrow {
	color: white;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
	color: white;
}

.ant-select-dropdown {
	background-color: #3e3e5b;
	color: white;
	padding: 0;
}

.ant-select-outlined:not(.ant-select-customize-input)
	.ant-select-selector:hover {
	border: 1px solid #f26d21;
}

.ant-select-dropdown .ant-select-item-option-content,
.ant-select-dropdown .ant-select-item-option,
.ant-select-dropdown,
.ant-select-dropdown
	.ant-select-item-option-selected:not(
		.ant-select-item-option-disabled
	) {
	color: black;
	background-color: white;
}

/* =============================================================================== */
/* Checkbox */
/* =============================================================================== */

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
	.ant-checkbox-inner,
.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
	border: #f26d21;
}

:where(.css-dev-only-do-not-override-1ae8k9u).ant-checkbox-checked
	.ant-checkbox-inner,
.ant-checkbox-checked:not(.ant-checkbox-disabled):hover
	.ant-checkbox-inner,
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
	.ant-checkbox-checked:not(.ant-checkbox-disabled)
	.ant-checkbox-inner {
	background-color: #f26d21;
	border-color: #f26d21;
}

/* Form */
.ant-form-vertical
	.ant-form-item-label
	.ant-form-item-required::after {
	visibility: visible;
}
.ant-form-item
	.ant-form-item-label
	> label.ant-form-item-required:not(
		.ant-form-item-required-mark-optional
	)::before {
	display: none;
}

.ant-form-item .ant-form-item-label > label::after {
	content: "*";
	color: red;
}

.ant-form-item .ant-form-item-label > label {
	color: #4d4d4d;
	font-weight: 600;
	font-size: 16px;
	line-height: 18.75px;
}

/* Dropdown */

.ant-dropdown .ant-dropdown-menu {
	padding: 0;
}

/*  Button  */

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
	color: white;
	border-color: #f26d21;
	background: #f26d21;
	opacity: 0.7;
}

/* Upload */
.ant-upload-wrapper.ant-upload-picture-card-wrapper
	.ant-upload.ant-upload-select {
	background-color: white;
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper
	.ant-upload.ant-upload-select {
	width: 172px;
	height: 124px;
}

/* Date picker */

.ant-picker-outlined {
	width: 100%;
	padding: 10px 4px;
}

.ant-picker .ant-picker-input {
	flex-direction: row-reverse;
	gap: 10px;
}
